<div class="container-fluid">
  <!-- header one -->
  <div class="row">
    <div class="col-sm">
      <h1>Angular MySQL Timeline</h1>
    </div>
  </div>

  <!-- header two -->
  <div class="container mt-4 mb-5">
    <h4 class="text-center h1">Lakukan Lebih dengan File Kamu</h4>
    <div class="row mt-4">
      <div class="col-md-3">
        <i class="fas fa-sync fa-2x"></i>
        <p class="font-weight-bold mt-2">
          Simpan dan Sinkronkan
        </p>
        <span>Jaga semua file kamu dalam keadaan aman, terupdate dan dapat diakses dari mana saja.</span>
      </div>
      <div class="col-md-3">
        <i class="fas fa-user-plus fa-2x"></i>
        <p class="font-weight-bold mt-2">
          Bagikan
        </p>
        <span>Kirim file apapun dengan cepat ke siapapun, walapun mereka tidak memiliki akun Sure Drive.</span>
      </div>
      <div class="col-md-3">
        <i class="fa fa-check-circle fa-2x" aria-hidden="true"></i>
        <p class="font-weight-bold mt-2">
          Tetap Aman
        </p>
        <span>File kamu tetap terjaga privasinya dengan perlindungan keamanan berlapis dari Sure Drive.</span>
      </div>
      <div class="col-md-3">
        <i class="fab fa-facebook-messenger fa-2x"></i>
        <p class="font-weight-bold mt-2">
          Kolaborasi
        </p>
        <span>Atus Pekerjaan, Pantau tentang file terbaru dan tetap terhubung bersama tim dan klien kamu.</span>
      </div>
    </div>
  </div>

  <!-- How will you use -->
  <div class="container mt-5">
    <h4 class="text-center h1">Bagaimana kamu akan menggunakan Sure Drive?</h4>
    <div class="row no-gutters mt-4">
      <div class="col-md-6 border-right">
        <img class="w-100 d-block"
          src="https://aem.dropbox.com/cms/content/dam/dropbox/warp/en-us/dropbox/Segmentation_1@2x.png.transform/80q/img.jpg"
          alt="for-work">
        <div class="p-4">
          <h4 class="h2 mt-2">Untuk Bisnis</h4>
          <span>Bekerja secara efisien dengan Tim dan Klien, tetap terhubung dengan Proyek dan jaga data Bisnis tetap
            amana didalam satu tempat.</span><br><br>
          <button class="btn btn-primary btn-block mt-3">Dapat Sure Drive untuk Bisnis</button>
        </div>
      </div>
      <div class="col-md-6">
        <img class="w-100 d-block"
          src="https://aem.dropbox.com/cms/content/dam/dropbox/warp/en-us/dropbox/Segmentation_2@2x.png.transform/80q/img.jpg"
          alt="for-work">
        <div class="p-4">
          <h4 class="h2 mt-2">Untuk Pribadi</h4>
          <span>Simpan segala sesuatu yang berharga bagimu dan keluargamu. Bagikan segalanya didalam satu tempate aman.
            Cadangkan file ke Cloud, bagikan foto dan video serta yang lainnya.</span>
          <button class="btn btn-primary btn-block mt-3">Dapat Sure Drive untuk Pribadi</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <div class="row bg-dark p-2">
  </div>
</div>
